/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color-cv);
  font-size: 1.2rem;
  cursor: pointer;
}
.change-theme:hover{
  color: var(--title-color-cv);

}
/*========== Generate PDF button ==========*/
.generate-pdf{
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color-cv);
  cursor: pointer;
}
.generate-pdf:hover{
  color: var(--title-color-cv);
}