/*==================== CONTACT ME ====================*/
/*
.contact__container{
  row-gap: 3rem;
  & .contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
    & .contact__title{
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
    }
    & .contact__subtitle{
      font-size: var(--small-font-size);
      color: var(--text-color-light);
    }
    & .contact__icon{
      font-size: 2rem;
      color: var(--first-color);
      margin-right: var(--mb-0-75);
    }
  }

  .contact__form{
    & .contact__input{
      border-radius: .5rem;
      width: 100%;
      background-color: var(--input-color);
      color:var(--text-color);
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      border: none;
      outline: none;
      padding: .25rem .5rem .5rem 0;


      & .contact__content{
        background-color: var(--input-color);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
        & .contact__label{
          font-size: var(--smaller-font-size);
          color: var(--title-color);


        }
/*
        & .success input {
          border-color: var(--succes-color);
        }

        & .error input {
          border-color: var(--error-color);
        }



        & small{
          color: var(--error-color);
          position: absolute;
          bottom: 0;
          left: 0;
          visibility: hidden;
        }
        & .error small{
          visibility: visible;
        }

      }

*/
/*
      & .contact__content.success input{
        border-color: var(--succes-color);
      }

      & .contact__content.error input {
        border-color: var(--error-color);
      }
      & .contact__content small{
        color: var(--error-color);
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
      }

      & .contact__content.error small{
        visibility: visible;
      }



    }
  }
}
*/

/*==================== CONTACT ME ====================*/
.contact__container{
  row-gap: 3rem;
}
.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}
.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact__input{
  //border-radius: .5rem;
  width: 100%;
  background-color: var(--input-color);
  color:var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border-bottom: 1px solid;
  border-right: none;
  border-top: none;
  border-left: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}
.contact__inputg{
  border-radius: .5rem;
  width: 100%;
  background-color: var(--input-color);
  color:var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.contact__content.success input {
  border-color: var(--succes-color);
}

.contact__content.error input {
  border-color: var(--error-color);
}

.contact__content.success textarea {
  border-color: var(--succes-color);
}

.contact__content.error textarea {
  border-color: var(--error-color);
}

.contact__content .small-text{
  color: var(--error-color);
  //position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.contact__content.error .small-text{
  visibility: visible;
}