/* For medium devices */
@media screen and (min-width: 568px){
  /*==== home ====*/
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
    & .home__data{
      grid-column: initial;
    }
    & .home__img{
      order: 1;
      justify-self: center;
    }
  }
  /*Review code css for the tag ".skills__container"*/
  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2,1fr);
  }

  /*
  .skills__container{
      grid-template-columns: repeat(3,1fr);
  }*/

  /*==== qualification ====*/
  .qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
  }
  .qualification__sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
  /*
  .qualification__button{
  }*/
}

@media screen and (min-width: 768px){
  /*==== container ====*/
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  /*==== body ====*/
  body{
    margin: 0;
  }
  /*==== section ====*/
  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }
  /*==== header ====*/
  .header{
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }
  /*==== nav ====*/
  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    & .nav__menu{
      margin-left: auto;
    }
    & .nav__list{
      display: flex;
      column-gap: 2rem;
    }
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  /*==== change-theme ====*/
  .change-theme{
    margin: 0;
  }

  /*==== home ====*/
  .home__container{
    row-gap: 5rem;
    & .home__content{
      padding-top: 5.5rem;
      column-gap: 2rem;
    }
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
    & .home__scroll-button{
      margin-left: 3rem;
    }
  }
  /*==== about ====*/
  .about__container{
    column-gap: 5rem;
    & .about__img{
      width: 350px;
    }
    & .about__description{
      text-align: initial;
    }
    & .about__info{
      justify-content: space-between;
    }
    /*Modify after code for the class name ".about__buttons" for value : (center or initial) */
    & .about__buttons{
      justify-content: center;
    }
  }

  /*==== qualification ====*/
  .qualification__tabs{
    justify-content: center;
    & .qualification__button{
      /*margin: 0 60px;*/
      margin: 10px 40px 20px 0;
    }
  }
  .qualification__sections{
    grid-template-columns: .5fr;
  }

  /*==== service ====*/
  .services__container{
    grid-template-columns: repeat(3,218px);
    justify-content: center;
    & .services__content{
      padding: 6rem 0 2rem 2.5rem;
    }
    & .services__icon{
      font-size: 2rem;
    }
    & .services__modal-content{
      width: 450px;
    }
  }

  /*==== portfolio ====*/
  .portfolio__content{
    align-items: center;
    & .portfolio__img{
      width: 320px;
    }
  }
  /*==== project ====*/
  .project{
    text-align: initial;
    & .project__bg{
      background: none;
      & .project__container{
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
        & .project__data{
          padding-top: .8rem;
        }
      }
    }
  }

  /*==== footer ====*/
  .footer__bg{
    padding: 3rem 0 3.5rem;
    & .footer__container{
      grid-template-columns: repeat(3,1fr);
      & .footer__social{
        & .footer__social{
          justify-content: flex-end;
        }
      }
    }
    & .footer__links{
      flex-direction: row;
      column-gap: 2rem;
    }
    & .footer__copy{
      margin-top: 4.5rem;
    }
  }
}