/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }
  /*==== home ====*/
  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }

  /*==== sevice ====*/
  .services__container{
    grid-template-columns: repeat(3, 238px);
  }

  /*==== portfolio ====*/
  .portfolio__content{
    column-gap: 5rem;
  }

  /*==== swiper ====*/
  .swiper-portfolio-icon{
    font-size: 3rem;
  }
  .swiper-button-prev{
    left: -3.5rem;
  }
  .swiper-button-next{
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -4.5rem;
  }

  /*==== contact ====*/
  .contact__form{
    width: 460px;
    & /*Review this code for the width : 1058px*/
    .contact__inputs{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}