/*==================== HOME ====================*/
.home{
  position: relative;
}
.home__container{
  gap: 3rem;
}
.home__data{
  gap: .5rem;
  text-align: center;
}
.home__img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1-cv);
}
.home__title{
  font-size: var(--h1-font-size-cv);
}

.home__profession{
  font-size: var(--normal-font-size-cv);
  margin-bottom: var(--mb-1-cv);
}
.home__address{
  gap: 1rem;
}
.home__information{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size-cv);
}
.home__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}
.home__button-movil{
  display: inline-block;
  border: 2px solid var(--text-color-cv);
  color: var(--title-color-cv);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium-cv);
  margin-top: var(--mb-3-cv);
}
.home__button-movil:hover{
  background-color: var(--text-color-cv);
  color: var(--container-color-cv);
}
/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
}
.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size-cv);
  color: var(--text-color-cv);
}
.social__link:hover{
  color: var(--title-color-cv);
}
.social__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

/*========== PROFILE ==========*/
.profile__description{
  text-align: center;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content{
  display: flex;
}
.education__time,
.experience__time{
  padding-right: 1rem;
}
.education__rounder,
.experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light-cv);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line,
.experience__line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light-cv);
  transform: translate(7px,0);
}
.education__data,
.experience__data{
  gap: .5rem;
}
.education__title,
.experience__title{
  font-size: var(--h3-font-size-cv);
}
.education__studies,
.experience__company{
  font-size: var(--small-font-size-cv);
  color: var(--title-color-cv);
}

.education__year{
  font-size: var(--smaller-font-size-cv);
}
/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content{
  grid-template-columns: repeat(2,1fr);
}

.languages__content{
  gap: 0;
}
.skills__name,
.languages__name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3-cv);
}

.skills__circle,
.languages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color-cv);
  border-radius: 50%;
  margin-right: .75rem;
}

/*========== CERTIFICATES ==========*/
.certificate__title{
  font-size: var(--h3-font-size-cv);
  margin-bottom: var(--mb-1-cv);
}

/*========== REFERENCES ==========*/
.references__content{
  gap: .25rem;
}
.references__subtitle{
  color: var(--text-color-light-cv);
}
.references__subtitle,
.references__contact{
  font-size: var(--smaller-font-size-cv);
}
.references__title{
  font-size: var(--h3-font-size-cv);
}


/*========== INTERESTS ==========*/
.interests__container{
  grid-template-columns: repeat(3,1fr);
  margin-top: var(--mb-2-cv);
}

.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests__icon{
  font-size: 1.5rem;
  color: var(--text-color-light-cv);
  margin-bottom: .25rem;
}